[submodule "submodules/uni2ts"]
	path = submodules/uni2ts
	url = https://github.com/SalesforceAIResearch/uni2ts.git
[submodule "submodules/lag_llama"]
	path = submodules/lag_llama
	url = https://github.com/time-series-foundation-models/lag-llama.git
[submodule "submodules/timesfm"]
	path = submodules/timesfm
	url = https://github.com/google-research/timesfm.git
[submodule "submodules/tsfm"]
	path = submodules/tsfm
	url = https://github.com/ibm-granite/granite-tsfm.git
